.vscode/
__pycache__/
*.pyc
*.DS_Store
*.swp
*.pth
tmp.*
*/.ipynb_checkpoints/*

logs/
weights/
dump/

carla_dataset/
*.err
*.out
*.ply
*.sbatch
src/cuda_ops
thirdparty/

logs
*/assets/
dataset_large_int_train
kitti_data/
nuscenes_data/
demo_dataset/logs/
model_release/
data/
dump/
*.pth
*.ckpt
__pycache__/
*.pyc
CorrI2P/
